

@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cousine-text {
  font-family: 'Cousine', monospace;
}

.crimson-text {
  font-family: 'Crimson Text', serif;
}

.montserrat-text {
  font-family: 'Montserrat', sans-serif;
}

/* Contenedor de la galería */
.gallery-container {
  display: flex;
  flex-direction: column; /* Por defecto en columnas (una imagen debajo de otra) */
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Cada imagen en la galería */
.image-card {
  margin: 20px;
  text-align: center;
}

.vintage-image {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border: 5px solid #f4f1de;
  border-radius: 10px;
  filter: sepia(0.7) contrast(1.2) brightness(0.9);
  transition: transform 0.5s ease;
}

.vintage-image:hover {
  transform: scale(1.05);
}

.image-text {
  margin-top: 10px;
  font-family: 'Georgia', serif;
  color: #6b705c;
  font-size: 16px;
}

/* Media query para pantallas grandes (web) */
@media (min-width: 768px) {
  .gallery-container {
    flex-direction: column; /* En pantallas grandes, las imágenes estarán en filas */
    flex-wrap: wrap;
    justify-content: space-around;
  }
}


/* Contenedor principal del fondo */
.video-background-container {
  position: relative;
  height: 100vh; /* 100% de la altura de la ventana */
  width: 100vw;  /* 100% del ancho de la ventana */
  overflow: hidden; /* Para ocultar cualquier parte del video que sobresalga */
}

/* Estilos para el video */
.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Escala el video sin distorsionar su proporción */
  transform: translate(-50%, -50%);
  z-index: -1; /* Asegúrate de que el video esté detrás del contenido */
}

/* Estilos para el contenido que se muestra sobre el video */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

.fondo-oscuro {
  background-color: #1D2739;
}

.fullscreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  /* Ocultar barra de desplazamiento */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.carattere-text {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.fuente-principal {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}




.fuente-principal-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.playball-regular {
  font-family: "Playball", serif;
  font-weight: 400;
  font-style: normal;
}


.playwrite {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.petit {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.luxurious {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.color3{
  background-color: #d0e8ff;

}
.colorPrimario
{
  border-color: #1D2739;

  color: #1D2739;
}

.colorSecundario{
  color: #597B9C;
}

.colorTerciario{

  color: #8EB5DD;
}


.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}



.gold-text-real {
  color: #FFD700;
  background: linear-gradient(45deg, #FFC107, #FFD700, #FFB300);
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(2px 2px 5px rgba(255, 215, 0, 0.6));
  color: transparent;
}

.gold-texture {
  background-image: url('assets/images/oro.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}
