

@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cousine-text {
  font-family: 'Cousine', monospace;
}

.crimson-text {
  font-family: 'Crimson Text', serif;
}

.montserrat-text {
  font-family: 'Montserrat', sans-serif;
}

/* Contenedor de la galería */
.gallery-container {
  display: flex;
  flex-direction: column; /* Por defecto en columnas (una imagen debajo de otra) */
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Cada imagen en la galería */
.image-card {
  margin: 20px;
  text-align: center;
}

.vintage-image {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border: 5px solid #f4f1de;
  border-radius: 10px;
  filter: sepia(0.7) contrast(1.2) brightness(0.9);
  transition: transform 0.5s ease;
}

.vintage-image:hover {
  transform: scale(1.05);
}

.image-text {
  margin-top: 10px;
  font-family: 'Georgia', serif;
  color: #6b705c;
  font-size: 16px;
}

/* Media query para pantallas grandes (web) */
@media (min-width: 768px) {
  .gallery-container {
    flex-direction: column; /* En pantallas grandes, las imágenes estarán en filas */
    flex-wrap: wrap;
    justify-content: space-around;
  }
}


/* Contenedor principal del fondo */
.video-background-container {
  position: relative;
  height: 100vh; /* 100% de la altura de la ventana */
  width: 100vw;  /* 100% del ancho de la ventana */
  overflow: hidden; /* Para ocultar cualquier parte del video que sobresalga */
}

/* Estilos para el video */
.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Escala el video sin distorsionar su proporción */
  transform: translate(-50%, -50%);
  z-index: -1; /* Asegúrate de que el video esté detrás del contenido */
}

/* Estilos para el contenido que se muestra sobre el video */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 1.5rem;
}